.signin-page {
  display: flex;
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: $color-light-gray;

    img {
      width: 70%;
    }

    h1 {
      max-width: 27rem;
      text-align: center;
      margin-top: 4rem;
      font-size: 2rem;
      font-weight: 600;
    }
  }

  .form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
      width: 70%;
      max-width: 30rem;

      h2 {
        font-size: 2rem;
        font-weight: 700;
      }

      .sub-header {
        font-size: 0.7rem;
        color: $color-gray;
      }

      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: $color-light-gray;
        padding: 0.9rem 1rem;
        border-radius: 8px;
        font-size: 1rem;

        &::placeholder {
          font-size: 0.8rem;
        }

        &:first-of-type {
          margin-top: 1.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }

    button {
      border: none;
      outline: none;
      background-color: $color-primary;
      width: 100%;
      padding: 0.9rem;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 8px;
      margin: 1.5rem 0;
      cursor: pointer;
    }

    .or {
      text-align: center;
      color: $color-gray;
      margin-bottom: 1.5rem;
    }

    .alternative-login {
      display: flex;

      a {
        flex-grow: 1;
        border: 1px solid $color-light-gray;
        font-size: 0.8rem;
        font-weight: 500;
        border-radius: 8px;
        padding: 0.8rem 1rem;
        display: flex;
        align-content: center;
        justify-content: center;

        &:first-of-type {
          margin-right: 0.5rem;
        }

        img {
          width: 1.2rem;
          margin-right: 0.5rem;
        }
      }
    }

    .forgot {
      display: inline-block;
      margin: 2rem auto 1rem 50%;
      transform: translateX(-50%);
      color: rgb(50, 200, 255);
      font-size: 0.9rem;
    }

    .registration {
      text-align: center;
      font-size: 0.9rem;
      color: $color-gray;

      a {
        font-weight: 600;
      }
    }
  }
}
