.signin-page{
    display: flex;
    .slider{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        background-color: $color-light-gray;

        img{
            width: 70%;
        }

        h1{
            max-width: 27rem;
            text-align: center;
            margin-top: 4rem;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    .form{
        width: 50%;
    }
}