* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

$color-primary: #ffca40;
$color-secondary: #c8161d;
$color-dark: #000;
$color-gray: #808080;
$color-light-gray: #f8f8f7;

body {
  font-family: "Poppins", sans-serif;
  color: $color-dark;
  font-weight: 400;
  background-color: $color-light-gray;
}

.container {
  display: flex;
}

.main {
  flex-grow: 1;
  background-color: white;
  padding: 1.5rem 1rem 0 1rem;
}

//pages
@import "./pages/signin";
@import "./pages/category";

//components
@import "./components/sidebar";
@import "./components/breadcrumbs";
