*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-primary:#FFCA40;
$color-secondary:#C8161D;
$color-dark:#000;
$color-gray:#808080;
$color-light-gray:#F8F8F7;

body{
    font-family: 'Poppins', sans-serif;
    color:$color-dark;
    font-weight: 400;
}

//pages
@import './pages/signin';